KERNEL_ARCH_CFLAGS= \
    -mno-mmx \
    -mno-sse \
    -mno-sse2 \
    -mno-red-zone \
    -mcmodel=kernel
KERNEL_ARCH_CPPFLAGS= 
KERNEL_ARCH_LDFLAGS= 
KERNEL_ARCH_LIBS=
KERNEL_ARCH_OBJS= \
    $(ARCHDIR)/io/serial.o \
    $(ARCHDIR)/u_vga16.o \
    $(ARCHDIR)/framebuffer/tty.o \
    $(ARCHDIR)/asm/gdt.o \
    $(ARCHDIR)/cpu/gdt.o  \
    $(ARCHDIR)/klog.o \
    $(ARCHDIR)/cpu/idt.o \
    $(ARCHDIR)/asm/idt.o \
    $(ARCHDIR)/cpu/cpudet.o \
    $(ARCHDIR)/cpu/apic.o